.restaurants-container {
  min-width: 150px;
}

.restaurant-container {
  border-radius: 5px;
  height: auto;
  min-width: 150px;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: relative;
}
.restaurant-page-link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.delete-button-wrapper {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 3px 6px;
  background-color: white;
  border-radius: 0px 0.5rem 0px 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgba(151, 151, 151, 0.5);
  border-top: 1px solid rgba(151, 151, 151, 0.5);
  opacity: 0.85;
}
.delete-button {
  cursor: pointer;
  font-size: 0.7rem;
  color: #333;
  font-weight: bold;
}
.restaurant-img {
  width: 100%;
  height: 85px;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.restaurant-details {
  color: rgb(32, 33, 37);
  font-weight: bold;
  border-right: 1px solid rgba(151, 151, 151, 0.5);
  border-left: 1px solid rgba(151, 151, 151, 0.5);
  border-bottom: 1px solid rgba(151, 151, 151, 0.5);
  border-radius: 0px 0px 0.5rem 0.5rem;
  padding: 8px;
  box-shadow: rgb(0 0 0 / 6%) 0px 0px 0.125rem 0px,
    rgb(0 0 0 / 12%) 0px 0.125rem 0.125rem 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 160px;
}
.restaurant-details > div {
  width: 90%;
}
.restaurant-description {
  font-size: 0.6rem;
  color: rgba(32, 33, 37, 0.64);
}

.empty_state {
  color: #009de0;
  width: 150px;
  font-weight: bold;
  padding: 8px;
  text-align: center;
}

.carousel-button {
  width: 20px;
  height: 20px;
  background-color: rgba(0, 157, 224, 0.16);
}

/* Parent wrapper to carousel. Width can be changed as needed. */
.carousel-wrapper {
  overflow: hidden;
  margin: auto;
}

/* Apply 'border-box' to 'box-sizing' so border and padding is included in the width and height. */
.carousel-wrapper * {
  box-sizing: border-box;
}

/* We'll be using the 'transform' property to move the carousel's items, so setting the 'transform-style' to 'preserve-3d' will make sure our nested elements are rendered properly in the 3D space. */
.carousel-container {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* By default we're hiding items (except the initial one) until the JS initiates. Elements are absolutely positioned with a width of 100% (as we're styling for mobile first), letting the content's height dictate the height of the carousel. Our magic property here for all our animation needs is 'transition', taking the properties we wish to animate 'transform' and 'opacity', along with the length of time in seconds. */
.carousel-element {
  opacity: 0;
  position: absolute;
  top: 0;
  margin: auto;
  padding: 1rem 2rem;
  z-index: 100;
  transition: transform 0.5s, opacity 0.5s, z-index 0.5s;
}

/* Display the initial item and bring it to the front using 'z-index'. These styles also apply to the 'active' item. */
.carousel-element.initial,
.carousel-element.active {
  opacity: 1;
  position: relative;
  z-index: 900;
  display: block;
}

/* Set 'z-index' to sit behind our '.active' item. */
.carousel-element.prev,
.carousel-element.next {
  z-index: 800;
}

/* Translate previous item to the left */
.carousel-element.prev {
  transform: translateX(-100%);
  display: none;
}

/* Translate next item to the right */
.carousel-element.next {
  transform: translateX(100%);
  display: none;
}

/* Style navigation buttons to sit in the middle, either side of the carousel. */
.carousel-button-prev,
.carousel-button-next {
  position: absolute;
  top: 50%;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #fff;
  transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer;
  z-index: 1001; /* Sit on top of everything */
}

.carousel-button-prev {
  left: 0;
}

.carousel-button-next {
  right: 0;
}

.carousel-button-next:hover::after,
.carousel-button-prev:hover::after {
  border-right: 2px solid #009de0;
  border-bottom: 2px solid #009de0;
}

.disabled.carousel-button-next,
.disabled.carousel-button-prev {
  opacity: 0.3;
  cursor: not-allowed;
}

.disabled.carousel-button-next::after,
.disabled.carousel-button-prev::after {
  border-right: 2px solid grey;
  border-bottom: 2px solid grey;
}

/* Use pseudo elements to insert arrows inside of navigation buttons */
.carousel-button-prev::after,
.carousel-button-next::after {
  content: " ";
  position: absolute;
  width: 5px;
  height: 5px;
  top: 50%;
  left: 54%;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transform: translate(-50%, -50%) rotate(135deg);
}

.carousel-button-next::after {
  left: 47%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.carousel-indicators-container {
  padding: 8px;
  width: 140px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: auto;
}

.carousel-indicator {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #009de0;
  margin: 0px 4px;
  opacity: 0.3;
}

.carousel-indicator.active {
  opacity: 1;
}
